<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Cocktails</h2>
    <div id="cocktails">
    <ul>
      <% cocktails.forEach((eachCocktail)=> { %>
       <li> <%= eachCocktail.name %> </li>
      <% }) %>
      
    </ul>
    </div>
  </body>
</html>
